<center> <h1> AN√ÅLISIS R </h1> </center>

In [18]:
#PAQUETES:

library(tidyverse) #1.TIDYVERSE

In [37]:
set.seed(1789)

cotricio <- tibble( x = sample(1:10,20, replace = T),
                    y = sample(1:10,20, replace = T),
                    z = sample(1:10,20, replace = T))

print(cotricio)

# A tibble: 20 x 3
       x     y     z
   <int> <int> <int>
 1     1     9     4
 2     9     5     8
 3     5    10     2
 4     7     4     1
 5     9     3     4
 6     5     1     9
 7     2     5     3
 8     2     8    10
 9     8     5     5
10     5     9     5
11     5     9     2
12    10     6    10
13    10     9    10
14     7    10     9
15     4     7     2
16     3     8    10
17     2     8     3
18     5     3     1
19     4     5     2
20     1     9     5

In [51]:
print(cotricio %>% summarize(mean(x),mean(y),mean(z)))

# A tibble: 1 x 3
  `mean(x)` `mean(y)` `mean(z)`
      <dbl>     <dbl>     <dbl>
1       5.2      6.65      5.25