<center> <h1> ANÁLISIS R </h1> </center>

In [1]:
#PAQUETES:

library(tidyverse) #1.TIDYVERSE

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.5     v purrr   0.3.4
v tibble  3.1.6     v dplyr   1.0.7
v tidyr   1.1.4     v stringr 1.4.0
v readr   2.1.1     v forcats 0.5.1

-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [2]:
set.seed(1789) ## seed para tener los mismos datos siempre

datos <- tibble( x = sample(1:10,20, replace = T),
                    y = sample(1:10,20, replace = T),
                    z = sample(1:10,20, replace = T))

print(datos)

# A tibble: 20 x 3
       x     y     z
   <int> <int> <int>
 1     1     9     4
 2     9     5     8
 3     5    10     2
 4     7     4     1
 5     9     3     4
 6     5     1     9
 7     2     5     3
 8     2     8    10
 9     8     5     5
10     5     9     5
11     5     9     2
12    10     6    10
13    10     9    10
14     7    10     9
15     4     7     2
16     3     8    10
17     2     8     3
18     5     3     1
19     4     5     2
20     1     9     5

In [3]:
print(datos %>% summarize(mean(x),mean(y),mean(z)))

# A tibble: 1 x 3
  `mean(x)` `mean(y)` `mean(z)`
      <dbl>     <dbl>     <dbl>
1       5.2      6.65      5.25

In [8]:
datos  <- read.csv("data.csv",                 
         header = TRUE,        
         sep = ";",            
         quote = "\"",        
         dec = ".",            
         fill = TRUE,         
         comment.char = "",    
         encoding = "unknown") 

#-----------------------------

datos  <- datos  %>% rename("pitch(x)" = ï..pitch, "rool(y)" = roll, "yaw(z)" = yaw, "fecha-hora" = timestamp)


print(datos)

   pitch(x) rool(y) yaw(z)          fecha-hora
1        34      67     93 07-02-2022 14:53:51
2        16     115    128 07-02-2022 14:53:52
3        57     101     47 07-02-2022 14:53:53
4        57       7     51 07-02-2022 14:53:54
5        12      77    161 07-02-2022 14:53:55
6        59     146      0 07-02-2022 14:53:56
7        85       5     45 07-02-2022 14:53:57
8        35     100     99 07-02-2022 14:53:58
9        80     106      8 07-02-2022 14:53:59
10       65     173    154 07-02-2022 14:54:00
11       63     136    110 07-02-2022 14:54:01
12       29       1     79 07-02-2022 14:54:02
13       65       9    179 07-02-2022 14:54:03
14       44      69    118 07-02-2022 14:54:04
15       58      69     44 07-02-2022 14:54:05
16       42      97      6 07-02-2022 14:54:06
17       16     101    119 07-02-2022 14:54:07
18       51      41    105 07-02-2022 14:54:08
19       21      19    163 07-02-2022 14:54:09
20       48     122    104 07-02-2022 14:54:10
21       86     152    103 07-02-2022 14:54:11
22       53      29     50 07-02-2022 14:54:12
23        7      65     56 07-02-2022 14:54:13
24       83     165    149 07-02-2022 14:54:14
25       23     102    119 07-02-2022 14:54:15
26       31      93     67 07-02-2022 14:54:16
27       72     155    101 07-02-2022 14:54:17
28        3       8     21 07-02-2022 14:54:18
29       82     157     25 07-02-2022 14:54:19
30        3     151     74 07-02-2022 14:54:20
31       26      94     43 07-02-2022 14:54:21
32       88      21     62 07-02-2022 14:54:22
33       78     177     35 07-02-2022 14:54:23
34       54      73    112 07-02-2022 14:54:24
35       89      62     39 07-02-2022 14:54:25
36       41     132      4 07-02-2022 14:54:26
37       40     158     14 07-02-2022 14:54:27
38       90      11     17 07-02-2022 14:54:28
39       33     127    141 07-02-2022 14:54:29
40       17     156    129 07-02-2022 14:54:30
41       78     149    176 07-02-2022 14:54:31
42       32      24    128 07-02-2022 14:54:32
43       49      13     55 07-02-2022 14:54:33
44       15     173    116 07-02-2022 14:54:34
45       41      18     10 07-02-2022 14:54:35
46       36      91    141 07-02-2022 14:54:36
47       51      57      5 07-02-2022 14:54:37
48       78     136    134 07-02-2022 14:54:38
49       70      60     30 07-02-2022 14:54:39

In [5]:
head(datos["fecha-hora"])

  fecha-hora
1 07-02-2022 14:53:51
2 07-02-2022 14:53:52
3 07-02-2022 14:53:53
4 07-02-2022 14:53:54
5 07-02-2022 14:53:55
6 07-02-2022 14:53:56

In [9]:
# datos  %>% separate(data = "fecha-hora", into = c("fecha","hora"), sep = " " )

In [10]:
strptime("12/02/2015 11:23", "%d/%m/%Y %h:%m")

[1] NA